html {
    font-family: helvetica-neue, sans-serif;
    font-weight: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
    overflow: hidden;
}

body {
    margin: 0;
    overflow: hidden;
    max-height: 550px;
    width: 450px;
    overflow: hidden;
    -webkit-perspective: 1500;
            perspective: 1500;
    
}

debug-info {
    pointer-events: none;
    background: rgba(0, 0, 0, .5);
    font-size: 1rem;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10rem;
}

back-edge, fore-edge {
    height: 1em;
    width: 100%;
    display: block;
    background-color: darkgoldenrod;
}

.verses {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: darkgoldenrod;
    font-size: 1em;
}

.verse {
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    /*backface-visibility: hidden;*/
    /*perspective: 1000;*/
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform .1s ease-out;
    transition: -webkit-transform .1s ease-out;
    transition: transform .1s ease-out;
    transition: transform .1s ease-out, -webkit-transform .1s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    padding: 1em;
    background-color: lightgoldenrodyellow;
    /*&.verse:nth-of-type(2n) {
        background: -webkit-radial-gradient(right, rgba(255, 255, 255, 0.1) 20%, goldenrod);
    }
    &.verse:nth-of-type(2n+1) {
        background: -webkit-radial-gradient(bottom, rgba(255, 255, 255, 0.2) 10%, goldenrod);
    }*/
}

